.start-group-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  height: 100%;
}

.start-group-container h2 {
  color: rgb(182, 155, 3);
  padding: 20px;
}

.start-group-form {
  padding: 2rem;
  height: 100%;
  text-align: start;
}

.start-group-form label {
  color: rgb(182, 155, 3);
}