.start-group-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  height: 100%;
}

.start-group-container h2 {
  color: rgb(182, 155, 3);
  padding: 20px;
  margin-top: 20px;
}

.start-group-form {
  padding: 2rem 4rem;
  text-align: start;
  justify-content: space-between;
}

.start-group-form label {
  font-size: 20px;
  color: rgb(182, 155, 3);
}

.start-group-form input {
  opacity: .8;
  padding: 5px;
  margin: 20px 0;
}

.start-group-form select {
  opacity: .8;
  cursor: pointer;
  width: 100%;
  padding: 5px;
  margin: 20px 0;
}

textarea {
  opacity: .8;
  font-family: 'Courier New', Courier, monospace;
  padding: 5px;
  font-weight: 600;
  width: 100%;
  height: 150px;
  resize: none;
  margin: 20px 0;
}

input {
  width: 100%;
}

.start-group-action-container {
  display: flex;
  justify-content: space-between;
}