.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  text-align: center;
  font-size: 2rem;
  width: 80%;
  padding: 1rem 1rem;
  color: rgb(182, 155, 3);
  background: black;
  margin: 0 auto;
}

.button-label {
  width: 100%;
}

.button-image {
  max-height: 80px;
  border-radius: 20px;
}

.button:hover {
  opacity: .7;
}