.button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  text-align: center;
  font-size: 2rem;
  width: 80%;
  padding: 1rem 1rem;
  color: rgb(182, 155, 3);
  background: black;
  margin: 0 auto;
  border: 2px transparent solid;
}

.button-label {
  width: 100%;
}

.button-image {
  max-height: 70px;
  border-radius: 20px;
}

.button:hover {
  opacity: .9;
  box-shadow: 0px 0px 20px 2px rgb(182, 155, 3);
}

.button:active {
  box-shadow: 0px 0px 10px 5px rgb(182, 155, 3);
}

.button-selected {
  border: 2px rgb(182, 155, 3) solid;
}